<div class='nested-fields'>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= select_tag(:city_id, options_for_select(Author.order(:first_name).map {|x| [x.first_name, x.id]})) %>
   </div>
</div>
   <%= link_to_remove_association 'remove', f %>
